body {
  background: url(./img/06.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.top-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .Title {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }

    h1 {
      text-align: center;
      color: orangered;
      font-family: "Lexend Deca", sans-serif;
      font-weight: 800;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.info {
  margin-top: 50px;
  display: flex;
  align-content: flex-end;
  align-items: center;
  justify-content: center;
  .info-text {
    background: rgba(255, 204, 102, 0.2);
    border: 1px solid orangered;
    align-content: flex-start;
    height: 100%;
    text-align: justify;
    vertical-align: middle;
    justify-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    

    align-items: center;
  }
  .form-sec {
    background: rgba(255, 204, 102, 0.2);
    border: 1px solid orangered;
    width: 100%;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    form {
      margin-left: auto;
      justify-content: center;
      align-items: center;
      width: 50%;
      align-content: flex-end;
      text-align: center;
      input {
        width: 100%;
        margin-top: 5px;
      }
    }
  }
}

.footer {
  background: gray;
  height: 100px;
  
}
